.App {
  text-align: center;
}

.heading,
#question {
  font-family: "Alfa Slab One";
}

#question {
  font-size: 24px;
}

#game-container {
  margin: 10% 20% 10px 20%;
  border: solid black;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-bar {
  display: flex;
  justify-content: flex-end;
  margin: 10px 20% 10px 20%;
}

.article-button {
  margin-left: 8px;
}
